extends ./layout/main-layout

block head
  +pageTitle('Home - Webpack4 bone v2.0')

block content
  .container
    .card
      h5.card-header Featured
      .card-body
        h5.card-title Special title treatment
        p.card-text With supporting text below as a natural lead-in to additional content.
        a(href="#" class="btn btn-primary") Go somewhere