extends ./layout/main-layout

block head
  +pageTitle('Home - Webpack4 bone v2.0')

block content
  section.hero.is-black
    .hero-body
      .container
        h1.title Hero title
        h2.subtitle Hero subtitle